{% load static %}

<div class="tab-pane fade" id="nav-emotion" role="tabpanel" aria-labelledby="nav-emotion-tab">
  <div class="row">
    <span class="col m-1 p-4">
      <h4 class="text-center title">{{ user_info.user_name }}</h4>
      <p class="text-center title2" id="emotion_title">오늘의 감정 분석 결과</p>
    </span>
    <span class="col">
      <img src="{% static 'img/setup_analytics.png' %}" class="d-inline-block align-top img-fluid" alt="welcome">
    </span>
    <hr>
  </div>

  <!-- 4-1. button layout -->
  <ul class="nav nav-pills m-3 justify-content-end button-text" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="emotion-daily-tab" data-toggle="pill" href="#emotion-daily" role="tab"
        aria-controls="emotion-daily" aria-selected="true">하루</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="emotion-week-tab" data-toggle="pill" href="#emotion-week" role="tab"
        aria-controls="emotion-week" aria-selected="false">주간</a>
    </li>

    <li class="nav-item" role="presentation">
      <select class="form-control">
        <option>이 번 주</option>
        <option>1주일 전</option>
      </select>
    </li>

  </ul>

  <!-- 4-2. chart layout -->
  <div class="tab-content" id="pills-tabContent">

    <!-- 4-2-1. 감정 하루 Tab -->
    <div class="tab-pane fade show active" id="emotion-daily" role="tabpanel" aria-labelledby="emotion-daily-tab">
      <p class="m-2 p-2 text-right">
        <span style="border-bottom: 5px solid #dcf1fb; padding: 0 0 0 0.2em;">
          {{ week.0.0 }}, {{ week.0.1 }}
        </span>
      </p>


      <div class="box1">
        <!-- <p class="text-left"><span style="background: #F9F7F6; border-left: 0.5em solid #688FF4; padding: 0.5em;">하루 감정</span></p> -->
        <!-- <p><span style="border-radius: 0 15px 15px 0; border-left: inset; padding: 0.6em; background: #EBEEF0;">내용1</span></p> -->
        <p class="text-center"><span class="align-center text1">하루동안 감정 변화</span></p>
        <div class="d-flex bd-highlight mb-3 justify-content-center">
          <div class="p-2 bd-highlight flex-sm-fill" id="total-emotion-container">
            <div class="text-center">
              <span>1 순위</span>
              <span class="emotion-daily-rank"> {{daily_emotion.today_emo.0.0}} </span>
            </div>
            <div class="text-center">
              <img class="daily_emotion img-fluid " src="{{daily_emotion.today_emo.0.2}}" alt="감정 이미지">
            </div>
          </div>

          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center">
              <span>2 순위</span>
              <span class="emotion-daily-rank"> {{daily_emotion.today_emo.1.0}} </span>
            </div>
            <div class="text-center">
              <img class="daily_emotion img-fluid " src="{{daily_emotion.today_emo.1.2}}" alt="감정 이미지">
            </div>
          </div>

          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center">
              <span>3 순위</span>
              <span class="emotion-daily-rank"> {{daily_emotion.today_emo.2.0}} </span>
            </div>
            <div class="text-center">
              <img class="daily_emotion img-fluid " src="{{daily_emotion.today_emo.2.2}}" alt="감정 이미지">
            </div>
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">국어</span></p>
      <div class="d-flex bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>1 순위</span>
            <span class="emotion-daily-ko-rank"> {{daily_emotion.korean.0.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ko_emotion img-fluid" src="{{daily_emotion.korean.0.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>2 순위</span>
            <span class="emotion-daily-ko-rank"> {{daily_emotion.korean.1.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ko_emotion img-fluid" src="{{daily_emotion.korean.1.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>3 순위</span>
            <span class="emotion-daily-ko-rank"> {{daily_emotion.korean.2.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ko_emotion img-fluid" src="{{daily_emotion.korean.2.2}}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">수학</span></p>
      <div class="d-flex bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>1 순위</span>
            <span class="emotion-daily-ma-rank"> {{daily_emotion.math.0.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ma_emotion img-fluid" src="{{daily_emotion.math.0.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>2 순위</span>
            <span class="emotion-daily-ma-rank"> {{daily_emotion.math.1.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ma_emotion img-fluid" src="{{daily_emotion.math.1.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>3 순위</span>
            <span class="emotion-daily-ma-rank"> {{daily_emotion.math.2.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_ma_emotion img-fluid" src="{{daily_emotion.math.2.2}}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">영어</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>1 순위</span>
            <span class="emotion-daily-en-rank"> {{daily_emotion.english.0.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_en_emotion img-fluid" src="{{daily_emotion.english.0.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>2 순위</span>
            <span class="emotion-daily-en-rank"> {{daily_emotion.english.1.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_en_emotion img-fluid" src="{{daily_emotion.english.1.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>3 순위</span>
            <span class="emotion-daily-en-rank"> {{daily_emotion.english.2.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_en_emotion img-fluid" src="{{daily_emotion.english.2.2}}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">과학</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>1 순위</span>
            <span class="emotion-daily-sc-rank"> {{daily_emotion.science.0.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_sc_emotion img-fluid" src="{{daily_emotion.science.0.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>2 순위</span>
            <span class="emotion-daily-sc-rank"> {{daily_emotion.science.1.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_sc_emotion img-fluid" src="{{daily_emotion.science.1.2}}" alt="이미지">
          </div>
        </div>

        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>3 순위</span>
            <span class="emotion-daily-sc-rank"> {{daily_emotion.science.2.0}} </span>
          </div>
          <div class="text-center">
            <img class="daily_sc_emotion img-fluid" src="{{daily_emotion.science.2.2}}" alt="이미지">
          </div>
        </div>
      </div>
    </div>

    <!-- 4-2-2. 감정 일별 Tab -->
    <div class="tab-pane fade" id="emotion-week" role="tabpanel" aria-labelledby="emotion-week-tab">
      <p class="m-2 p-2 text-right">
        <span style="border-bottom: 5px solid #dcf1fb; padding: 0 0 0 0.2em;">
          {{ week.1 }} ~ {{ week.2 }}
        </span>
      </p>

      <div class="box1">
        <p class="text-center"><span class="align-center text1">일주일동안 감정 변화</span></p>
        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center content">
              <span>월요일</span>
              <span class="emotion-week-rank"> 무표정 </span>
            </div>
            <div class="text-center">
              <img class="emotion_week img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
            </div>
          </div>
          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center content">
              <span>화요일</span>
              <span class="emotion-week-rank"> 무표정 </span>
            </div>
            <div class="text-center">
              <img class="emotion_week img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
            </div>
          </div>
          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center content">
              <span>수요일</span>
              <span class="emotion-week-rank"> 무표정 </span>
            </div>
            <div class="text-center">
              <img class="emotion_week img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
            </div>
          </div>
          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center content">
              <span>목요일</span>
              <span class="emotion-week-rank"> 무표정 </span>
            </div>
            <div class="text-center">
              <img class="emotion_week img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
            </div>
          </div>
          <div class="p-2 bd-highlight flex-sm-fill">
            <div class="text-center content">
              <span>금요일</span>
              <span class="emotion-week-rank"> 무표정 </span>
            </div>
            <div class="text-center">
              <img class="emotion_week img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
            </div>
          </div>
        </div>
      </div>


      <p class="text-center"><span class="align-center text1">국어 일주일 감정 변화</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>월요일</span><br>
            <span class="emotion-week-ko-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ko_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>화요일</span><br>
            <span class="emotion-week-ko-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ko_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>수요일</span><br>
            <span class="emotion-week-ko-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ko_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>목요일</span><br>
            <span class="emotion-week-ko-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ko_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>금요일</span><br>
            <span class="emotion-week-ko-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ko_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">수학 일주일 감정 변화</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>월요일</span><br>
            <span class="emotion-week-ma-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ma_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>화요일</span><br>
            <span class="emotion-week-ma-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ma_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>수요일</span><br>
            <span class="emotion-week-ma-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ma_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>목요일</span><br>
            <span class="emotion-week-ma-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ma_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>금요일</span><br>
            <span class="emotion-week-ma-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_ma_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">영어 일주일 감정 변화</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>월요일</span><br>
            <span class="emotion-week-en-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_en_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>화요일</span><br>
            <span class="emotion-week-en-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_en_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>수요일</span><br>
            <span class="emotion-week-en-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_en_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>목요일</span><br>
            <span class="emotion-week-en-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_en_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>금요일</span><br>
            <span class="emotion-week-en-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_en_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
      </div>

      <p class="text-center"><span class="align-center text1">과학 일주일 감정 변화</span></p>
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>월요일</span><br>
            <span class="emotion-week-sc-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_sc_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>화요일</span><br>
            <span class="emotion-week-sc-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_sc_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>수요일</span><br>
            <span class="emotion-week-sc-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_sc_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>목요일</span><br>
            <span class="emotion-week-sc-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_sc_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
        <div class="p-2 bd-highlight flex-sm-fill">
          <div class="text-center content">
            <span>금요일</span><br>
            <span class="emotion-week-sc-rank"> 무표정 </span>
          </div>
          <div class="text-center">
            <img class="week_sc_emotion img-fluid" src="{% static 'img/emo_0.png' %}" alt="이미지">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>