{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'nav.html' %}

<!-- tab for page moving -->
<div class="tab-content" id="nav-tabContent">
  <!-- 1. Home Tab -->
  {% include 'app/home_tab.html' %}

  <!-- 2. Subject Tab -->
  {% include 'app/subject_tab.html' %}

  <!-- 3. Concentration Tab -->
  {% include 'app/conc_tab.html' %}

  <!-- 4. Emotion Tab -->
  {% include 'app/emotion_tab.html' %}
</div>


<!-- bootstrap breakpoint
<div class='container-sm'> 100% wide until small breakpoint </div>
<div class='container-md'> 100% wide until medium breakpoint </div>
<div class='container-lg'> 100% wide until large breakpoint </div>
<div class='container-xl'> 100% wide until extra breakpoint </div>
<div class='container-xxl'> 100% wide until extra extra large breakpoint </div> -->



<!-- EventListner -->
<!-- 과목 1일 -->
<!-- <script type="text/javascript" src="{% static 'js/app/subject_daily.js' %}"></script> -->

<!-- 과목 1주 -->
<!-- <script type="text/javascript" src="{% static 'js/app/subject_week.js' %}"></script> -->

<!-- 3-1. conc_daily -->
<script type="text/javascript" src="{% static 'js/app/conc_daily.js' %}"></script>

<!-- 3-2. conc_week -->
<script type="text/javascript" src="{% static 'js/app/conc_week.js' %}"></script>

<!-- 4-1. emotion_daily -->
<script type="text/javascript" src="{% static 'js/app/emotion_daily.js' %}"></script>

<!-- 4-2. emotion_week -->
<script type="text/javascript" src="{% static 'js/app/emotion_week.js' %}"></script>

{% endblock %}
