<!-- Navigation -->
<nav>
    <div class="nav nav-tabs nav-justified nav-tab-menu" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Home</a>
        <a class="nav-link" id="nav-subject-tab" data-toggle="tab" href="#nav-subject" role="tab"
            aria-controls="nav-subject" aria-selected="false">과목</a>
        <a class="nav-link" id="nav-conc-tab" data-toggle="tab" href="#nav-conc" role="tab" aria-controls="nav-conc"
            aria-selected="false">집중도</a>
        <a class="nav-link" id="nav-emotion-tab" data-toggle="tab" href="#nav-emotion" role="tab"
            aria-controls="nav-emotion" aria-selected="false">감정</a>
    </div>
</nav>